@page "/articles"


<div class="artd">
    <h2 class="arth">Read Our Articles To Know  </h2>
    <h3 class="arth">more about technologies and solar energy systems</h3>
</div>


<section class="article1" data-aos="fade-up">
    <div class="daimg">
        <img class="aimg" src="images/Image 9.png">
    </div>
    <div class="artp">
        <p class="ap">
            what wharehouse can need from solar energy
        </p>
        <a href="articlepage.html" class="aa1">Read more <i class="fa-solid fa-angle-right"></i> </a>
    </div>
</section> <!--end of section-->

<section class="article1" data-aos="fade-up">
    <div class="daimg">
        <img class="aimg" src="images/Image 29.png">
    </div>
    <div class="artp">
        <p class="ap">
            farming and solar energy needs and costs
        </p>
        <a href="articlepage.html" class="aa1">Read more <i class="fa-solid fa-angle-right"></i></a>
    </div>
</section> <!--end of section-->

<section class="article1" data-aos="fade-up">
    <div class="daimg">
        <img class="aimg" src="images/Image 10.png">
    </div>
    <div class="artp">
        <p class="ap">
            how solar energy can help in Poultry farming
        </p>
        <a href="Articles/PoultryFarming" class="aa1">Read more <i class="fa-solid fa-angle-right"></i></a>
    </div>
</section> <!--end of section-->
