@page "/Products"

@*<img src="images/products-list.png" width="90%" height="1800" style="margin:100px auto; display:block;" />*@

<h2 class="hproduct">here What We can help you with</h2>

<section class="sectionp1  float-sm-none " data-aos="fade-up">
    <div class="dproduct  ">
        <img src="images/building1-01-small.jpg">
    </div>
    <div class="tproduct">
        <p class="pp">
            know about solar system requirement
            for home owners in Egypt
        </p>
        <div> <a class="aprod " href="Products/Residental">Residental <i class="fa-solid fa-angle-right"></i></a></div>
    </div>
</section> <!--end of section 1-->

<section class="sectionp1  float-sm-none" data-aos="fade-up">
    <div class="dproduct  ">
        <img src="images/solar1-04-small.jpg">
    </div>
    <div class="tproduct">
        <p class="pp">
            know about solar system requirement 
for home owners in Egypt
        </p>
        <div> <a class="aprod " href="Products/Residental">Commerial <i class="fa-solid fa-angle-right"></i></a></div>
    </div>
</section> <!--end of section 2-->

<section class="sectionp1  float-sm-none" data-aos="fade-up">
    <div class="dproduct  ">
        <img src="images/Image 8.png">
    </div>
    <div class="tproduct">
        <p class="pp">
            know about solar system requirement 
for business owners in Egypt
        </p>
        <div> <a class="aprod " href="productpage.html"> Electric car recharge station <i class="fa-solid fa-angle-right"></i></a></div>
    </div>
</section> <!--end of section 3-->


@code {
	
}
