@page "/Articles/PoultryFarming"
@*<img src="images/article.png" width="80%" height="4200" style="margin:100px auto; display:block;" />
*@


<section class="container artsection1">
    <div>
        <img src="images/Image 10.png" alt="" class="mx-auto d-block" data-aos="flip-left">
    </div>
</section> <!-- end section 1-->

<section class="container-fluid artsection2">
    <h2>Poultry farming and solar panels</h2>
    <div class="row text-center">
        <div class="col">  <span>date : 20/10/2023</span></div>
        <div class="col">
            <span> share :</span>
            <a href=""> <i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>

        </div>
    </div>
</section>  <!-- end section 2-->

<section class="container artsection3">
    <p data-aos="zoom-in">
        Energy bills are burdensome for all of us, but especially for you in the farming industry.
        Now, if you run a poultry farm, you’ve seen your electric bill climb sky-high.
        Your poultry farm relies on power for:
    </p>
    <ul data-aos="zoom-in">
        <li> Lighting, especially during flock growth</li>
        <li>Ventilation to reduce the risk of diseases </li>
        <li>Heating in winter to support chicken growth </li>
        <li>Cooling during summer</li>
        <li>Automated feed lines</li>
    </ul>


    <p class="articlep" data-aos="zoom-in">

        Solar energy could slash your operational costs and help keep your flock in peak health.
        This way, your hard-earned money is invested in your farm and your future.
        Let’s look at the pros of solar panels for poultry farm operations.
    </p>
    <div>
        <center>
            <img class="aimg2" src="images/Image 25.png" alt="" data-aos="zoom-in">
        </center>
    </div>
    <h3 data-aos="zoom-in">
        1. Solar Panels for Poultry Farm Systems Decrease
        Operating Costs
    </h3>
    <p class="articlep1" data-aos="zoom-in">
        Each year, you face tough decisions about how to manage your skyrocketing operating
        costs.Solar energy provides an exit strategy . . .
        An excellent way to recoup savings and support your business needs.
        Because it’s possible to eliminate a portion or all your monthly electric costs with
        solar energy – a true win-win.
    </p>
    <h3 data-aos="zoom-in">2. Solar Panels Are Low Maintenance</h3>

    <div class="row articlep4">
        <p class="col-8 col-sm" data-aos="zoom-in">
            Solar panels for poultry farms are shockingly
            low maintenance.
            This is a major plus if you expend a ton of time and
            energy maintaining equipment.For the most part,
            rain cleans dirt and debris off solar panels . . .
            Although they may need more cleaning depending
            on where you live and the climate.We won’t lie to
            you, though.You’ll need to regularly check the solar
            system to make sure everything is working like
            a charm.
            A yearly wiring and electrical system on the hardware is good practice.
        </p>
        <img class="col-4 col-sm" src="images/Image 26.png" data-aos="flip-down">

    </div>
    <div data-aos="zoom-in">
        <h3>3. Solar Provides Energy Independence</h3>
        <p>
            We’ve already covered the reduced electric bill solar gives you.
            But there’s another major benefit: Energy independence.<br>
            With an aging electrical grid, solar is a necessary alternative for power production since you
            need a reliable energy source.And with solar battery storage, when the grid goes down,
            you’re still up and running.

        </p>
    </div>
    <div data-aos="zoom-in">
        <h3>4. Solar Offers Financial Incentives</h3>
        <p style=" white-space: pre-line;">
            Installing a solar system on your property comes with financial support and
            incentives that keep money in your pocket:
            Rural Energy for America Program: Grant and loan funding is available.
            REAP grant pays for up to 25% of your total system and installation costs.
            A REAP loan can cover up to 75% of your total project cost.
            You can combine grant and loan funding up to 75% of total eligible project costs.
            Federal solar tax credit: A federal solar tax credit gives you the option to deduct 26% of
            the system’s costs when filing your taxes.
            Modified Accelerated Cost Recovery System (MACRS):
            he MACRS is an accelerated depreciation tax cut on fixed assets. For a specified period,
            you recover the capitalized cost of an asset through annual deductions.
            If you decide to install solar panels on your poultry farm, it’s important to first speak with
            your energy company about their credit program for any excess energy you send
            back to the grid.
        </p>
    </div>
    <div class="row articlep5">
        <div class="col-sm "> <img src="images/Image 27.png" data-aos="flip-down"></div>
        <div class="col-sm ">
            <img src="images/Image 28.png" data-aos="flip-down">
        </div>
    </div>
    <p style=" white-space: pre-line;" data-aos="zoom-in">
        The farm’s energy system power 7,000m² of buildings on a land holding of 20,000m² –
        and the family has purchased an additional 120,000m².
        The system, which was commissioned six months ago, is meeting all expectation and
        demonstrates what can be achieved for off-grid energy-intensive farming
    </p>
</section>

<h2 class="hh5">Related Articles </h2>

<section class="container-fluid row articlep7 ">

    <div class="articlep6 text-center col-sm" data-aos="zoom-in">
        <img src="images/Image 29.png" alt="">
        <p>
            what farm can need
            from solar energy
        </p>
        <a href="#">know more <i class="fa-solid fa-angle-right"></i></a>
    </div>
    <div class="articlep6 text-center col-sm" data-aos="zoom-in">
        <img src="images/Image 30.png" alt="" data-aos="zoom-in">
        <p>
            what farm can need
            from solar energy
        </p>
        <a href="">know more <i class="fa-solid fa-angle-right"></i></a>
    </div>
    <div class="articlep6 text-center col-sm" data-aos="zoom-in">
        <img src="images/Image 9.png" alt="">
        <p>
            what farm can need
            from solar energy
        </p>
        <a href="">know more <i class="fa-solid fa-angle-right"></i></a>
    </div>

</section>

@code {

}
